SECRET_KEY=

# 0 False, 1 True
DEBUG="1"


ALLOWED_HOSTS="127.0.0.1, localhost"

DB_ENGINE="django.db.backends.postgresql_psycopg2"
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST="psql"
POSTGRES_PORT="5432"



EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=