{% extends 'base.html' %}
{% load static %}
{% block page_title %}
  {% if user.first_name %}
    Perfil :: {{ user.first_name }}
  {% else %}
    Perfil ::
  {% endif %}
{% endblock %}
{% block content %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} d-flex justify-content-between" role="alert">
      {{ message|safe }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
  <div class="container d-flex flex-column align-items-center">
    <div class="row">
      <div class="col-6">
        <img class="mb-2"
          style="width: 100px; height: 100px; border-radius: 50%;"
          src="{% if user.profile_image %}
            {{ user.profile_image.url }}
          {% else %}
            {% static 'img/default-profile.jpg' %}
          {% endif %}"
          alt="" />
      </div>
      <div class="col-6">
        <h1>{{ user.get_full_name }}</h1>
      </div>
    </div>
    <form action="/users/profile/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group border p-2 mt-4">
        {{ form.as_p }}
        <button class="btn btn-primary">Atualizar</button>
      </div>
    </form>
    {% url 'account_email' as email_url %}
    {% if email_url %}
      <a href="{{ email_url }}">Mudar Email</a>
    {% endif %}
    {% url 'account_change_password' as change_password_url %}
    {% if change_password_url %}
      <a href="{{ change_password_url }}">Alterar Senha</a>
    {% endif %}
  </div>
{% endblock %}
