{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32"  href="{% static '/img/favicon/bola-32png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static '/img/favicon/bola-96.png' %} ">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static './img/favicon/bola-16.png' %}">
    <link rel="manifest" href="./img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>{% block page_title %}{% endblock page_title %}</title>
</head>
<body>
    <p>p tag from base template</p>
    {% block content %}{% endblock content %}
</body>
</html>